html {
    scroll-behavior: smooth;
}

.full-body {
    background-color: #121212;

    /* background-color: #262335; */
}

.header {
    height: 8rem;
    width: 100%;
}

.navbar {
    margin-top: 10px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 75%;
}

.space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Caesar Dressing", cursive;
    /* font-family: "Sacramento", cursive; */
    /* font-family: "Pacifico", cursive; */

    color: #fff;
    /* text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
        0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09; */

    /* text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff,
        0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff; */

    font-size: 3rem;
    /* animation: flicker 1.5s infinite alternate; */

    align-content: center;
    display: flex;
}

.logo-img {
    height: 70px;
    width: 150px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.resume-symbol {
    padding-right: 28px;
}
.github-symbol {
    padding-left: 30px;
    padding-right: 30px;
}
.linkedin-symbol {
    padding-left: 30px;
}

.bi {
    color: white;
}

/*----------------------------------------------- PROJECT SECTION -------------------------------------------*/

.sect-headers {
    text-align: center;
    margin-top: 0;
    padding-bottom: 30px;

    font-size: 45px;
    font-weight: 500;
    font-family: "Sacramento", cursive;
    /* font-family: "Caesar Dressing", cursive; */
    /* font-family: "Pacifico", cursive; */

    color: #fff;

    /* text-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe; */

    /* text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
        0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09; */

    /* text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff,
        0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff; */

    /* animation: pulsate 2.5s infinite alternate; */
}

img {
    height: 50vh;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* Overlay (invisible until hover css makes opacity 1 again) */
.image-overlay {
    display: flex;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    opacity: 0;
    transition: opacity 0.25s;
}

/* For every child of image-overlay */
.image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

/* Activation of overlay when hovering over div */
.image-overlay:hover {
    opacity: 1;
}

/* Change on all children of image-overlay when hovering over the div */
.image-overlay:hover > * {
    transform: translateY(0);
}

.image-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.image-description {
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: center;
}

.finance-image {
    object-position: top;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.connect4-image {
    object-position: top;
}

.spaceinvaders-image {
    object-position: bottom;
}

/* Height of nav buttons */
button {
    height: 360px;
}

.bi-caret {
    color: #fff;
    /* box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe; */
}

/* Height of carosel icons */
#carouselExampleCaptions {
    display: flex;
    justify-content: center;
    height: 55vh;
}

.carousel-inner {
    width: 50%;
    border-radius: 10px;
}

/* .carousel-indicators [data-bs-target] {
    background-color: transparent;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe;

    height: 4px;
    border-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
} */

/* Change thickness of carousel indicators */
.carousel-indicators [data-bs-target] {
    height: 4px;
}

footer {
    height: 2rem;
}

/* Might have to turn off pulsating and flickering cuz it uses too much graphics (mb just leave text shadow) */

/* 
#27fdf5 neon-blue
#a8f6f8 pastel-blue
#d7fffe whiteish
#f98dc9 pastel-pink
#f765b8 neon-pink
*/

/*----------------------------------------------- Pulsate Animation ----------------------------------------*/

@keyframes pulsate {
    100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
            0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
    }

    0% {
        text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
            0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
    }
}

/*-------------------------------------------- Flicker Animation -----------------------------------------*/
@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
            0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}
